html(ng-app='ngCzCourseWare')
  head
    if devel
      script(src='http://localhost:' + config.lifeReloadPort + '/livereload.js')

    script(src='/node_modules/angular/angular.min.js')
    script(src='/node_modules/angular-socket-io/socket.min.js')
    script(src='/node_modules/angular-ui-router/release/angular-ui-router.min.js')

    script(src='/app/app.js')
    script(src='/app/todo-directives.js')
    script(src='/app/todo-loader.js')
    script(src='/app/todo-results.js')
    script
      | angular.module('ngCzCourseWare')
      | .value('todos', !{JSON.stringify(config.todos).replace(/<\//g, "<\\/")});

    if config.testsSocketUrl
      script(src= config.testsSocketUrl + '/socket.io/socket.io.js')
      script.
        if (typeof io !== 'undefined') {
          angular.module('ngCzCourseWare')
                  .config(function(socketConnectorProvider) {
                    socketConnectorProvider.setUrl('!{config.testsSocketUrl}');
                  });
          console.log('Socket server is runnning: !{config.testsSocketUrl}');
        } else {
          console.log('Socket server is not runnning: !{config.testsSocketUrl}');
        }

    link(href="/dist/todo.css", rel="stylesheet")

    title !{config.header}

body#top
  h1 !{config.header}

  div.row(ui-view="")

  each todoName in config.todos
    script(type='text/ng-template' id='todo-#{todoName}')
      div
        != render(baseDir + '/' + todoName + '/' + config.todoFilePath)

  script(type='text/ng-template' id='intro')
    != render(config.introFilePath)

  script(type='text/ng-template' id='todos')
    include todos

  script(type='text/ng-template' id='todo')
    include todo

  script(type='text/ng-template' id='directive-pagination')
    include directive-pagination

  script(type='text/ng-template' id='directive-note')
    include directive-note

  script(type='text/ng-template' id='directive-solution')
    include directive-solution

  script(type='text/ng-template' id='directive-tests')
    include directive-tests